boto3==1.34.7
# Only the essential libraries
requests==2.31.0
urllib3==2.0.7
certifi==2024.2.2
# PDF parsing fallback
PyPDF2==3.0.1
# mistral ai
mistralai>=0.0.32
anthropic==0.16.0
google-cloud-documentai==2.31.0
google-cloud-storage==2.14.0
google-api-python-client==2.115.0
google-auth==2.28.1
google-auth-httplib2==0.1.1