boto3>=1.34.11
openai>=1.2.0
openai-agents>=0.0.6
urllib3>=1.26.18
requests>=2.31.0
pydantic==2.10.6
pydantic-core==2.27.2 --only-binary=:all:
certifi==2024.2.2
cryptography>=41.0.7
protobuf>=4.22.3
python-dotenv>=1.0.0
